<configuration>
  <system.webServer>
    <rewrite>
      <rules>
        <!-- Redirect all requests to index.php if the requested file or directory doesn’t exist -->
        <rule name="Redirect to index.php" stopProcessing="true">
          <match url="^(.*)$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.php" appendQueryString="true" />
        </rule>
        <!-- Block direct access to specific folders -->
        <rule name="Block access to specific folders" stopProcessing="true">
          <match url="^(app|config)/" />
          <action type="CustomResponse" statusCode="403" statusDescription="Forbidden" />
        </rule>
        <!-- Block access to any .php files outside of index.php -->
        <rule name="Block .php files" stopProcessing="true">
          <match url=".*\.php$" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="index\.php$" negate="true" />
          </conditions>
          <action type="CustomResponse" statusCode="403" statusDescription="Forbidden" />
        </rule>
        <!-- Deny access to hidden files (files starting with .) -->
        <rule name="Block hidden files" stopProcessing="true">
          <match url="(^|/)\." />
          <action type="CustomResponse" statusCode="403" statusDescription="Forbidden" />
        </rule>
      </rules>
    </rewrite>
    <!-- Disable directory browsing -->
    <directoryBrowse enabled="false" />
  </system.webServer>
  <system.web>
    <compilation tempDirectory="C:\Inetpub\vhosts\biggsph.com\tmp" />
  </system.web>
</configuration>